# A generic onfiguration file for any type of app

[program:{{ name }}]
autostart=true
autorestart=true
stopsignal=QUIT
stdout_logfile=/vagrant/logs/{{ name }}/output.log
stderr_logfile=/vagrant/logs/{{ name }}/error.log
stdout_logfile_maxbytes=8192
stderr_logfile_maxbytes=8192
user=vagrant
directory=/home/vagrant
command={{ conf['entrypoint'] }}
environment=
{%- if conf['vars'] -%}
  {%- for key,value in conf['vars'].items() -%}
    {{ key }}="{{ value}}",
  {%- endfor -%}
{%- endif -%}
{%- if conf['port'] -%}
PORT={{ conf['port'] }}
{% endif %}
